* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #0c0c0c; }

main p {
  color: #dfbf4d;
  padding: 4rem; }

.somos {
  color: yellow;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  font-family: cursive; }

.mila {
  color: #ffee8f;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  font-family: cursive; }

.ambiente {
  color: #ffc107;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  font-family: cursive; }

@media (max-width: 2560px) {
  .cheddar {
    height: 424px; }
  .caprese {
    height: 424px; }
  .caballo {
    height: 424px;
    width: 600px; }
  .napo {
    height: 454px; } }

@media (max-width: 1440px) {
  .cheddar {
    height: 454px; } }

@media (max-width: 1024px) {
  .cheddar {
    height: 452px; }
  .caprese {
    height: 453px; }
  .caballo {
    height: 453px; }
  .napo {
    height: 453px; } }

@media (max-width: 768px) {
  .cheddar {
    height: 505px; }
  .caprese {
    height: 451px; }
  .caballo {
    height: 475px; }
  .napo {
    height: 481px; } }

@media (max-width: 375px) {
  .cheddar {
    height: 340px; }
  .caprese {
    height: 340px; }
  .caballo {
    height: 340px; }
  .napo {
    height: 340px; } }

@media (max-width: 2560px) {
  .imgPunta {
    width: 1075px;
    height: 775px;
    transform: translateX(110px); }
  .imgEnse {
    width: 1075px;
    height: 775px;
    transform: translateX(110px); }
  .imgLp {
    width: 1075px;
    height: 775px;
    transform: translateX(110px); } }

@media (max-width: 1400px) {
  .imgPunta {
    width: 925px;
    height: 650px;
    transform: translateX(95px); }
  .imgEnse {
    width: 925px;
    height: 650px;
    transform: translateX(95px); }
  .imgLp {
    width: 925px;
    height: 650px;
    transform: translateX(95px); } }

@media (max-width: 1024px) {
  .imgPunta {
    width: 775px;
    height: 500px;
    transform: translateX(80px); }
  .imgEnse {
    width: 775px;
    height: 500px;
    transform: translateX(80px); }
  .imgLp {
    width: 775px;
    height: 500px;
    transform: translateX(80px); }
  .punta {
    transform: translateX(-5px); } }

@media (max-width: 768px) {
  .imgPunta {
    width: 565px;
    transform: translateX(65px); }
  .imgEnse {
    width: 565px;
    transform: translateX(65px); }
  .imgLp {
    width: 565px;
    transform: translateX(65px); }
  .punta {
    transform: translateX(-5px); } }

@media (max-width: 425px) {
  .imgPunta {
    width: 308px;
    height: 155px;
    transform: translateX(35px); }
  .imgEnse {
    width: 308px;
    height: 155px;
    transform: translateX(35px); }
  .imgLp {
    width: 308px;
    height: 155px;
    transform: translateX(35px); } }

@media (max-width: 375px) {
  .imgPunta {
    width: 256px;
    height: 155px;
    transform: translateX(35px); }
  .imgEnse {
    width: 256px;
    height: 155px;
    transform: translateX(35px); }
  .imgLp {
    width: 256px;
    height: 155px;
    transform: translateX(35px); } }

@media (max-width: 320px) {
  .imgPunta {
    width: 256px;
    height: 155px;
    transform: translateX(8px); }
  .imgEnse {
    width: 256px;
    height: 155px;
    transform: translateX(8px); }
  .imgLp {
    width: 256px;
    height: 155px;
    transform: translateX(8px); } }

@media (max-width: 425px) {
  .comunica {
    font-size: 2.5rem; } }

@media (max-width: 375px) {
  .comunica {
    font-size: 1rem; } }

/* header */
header .contactos {
  color: yellow; }

header h1 {
  padding: 2rem; }
  header h1 a {
    text-decoration: none;
    color: #dfbf4d;
    transform: translateX(45px); }
  header h1:hover {
    font-weight: 700;
    background-color: black;
    text-decoration: underline;
    color: #ffc107; }

header li a {
  text-decoration: none;
  color: #dfbf4d;
  transform: translateX(45px); }

header li:hover {
  font-weight: 700;
  text-decoration: line-through;
  text-decoration: underline;
  color: #ffc107; }

/* main */
main {
  padding: 4rem; }
  main .logo {
    width: 800px; }

/* footer */
footer a {
  padding: 0.5rem;
  text-decoration: none;
  width: 150px;
  color: #dfbf4d; }

footer i {
  padding: 0.5rem;
  font-size: 2rem;
  width: 140px;
  color: #dfbf4d; }

/*LOCALES*/
/*main*/
.lp {
  height: 55vh; }

.bsso {
  height: 55vh; }

span {
  color: #ffc107; }

/*QUIENES*/
/*main*/
.quienes {
  padding: 2rem; }
  .quienes:hover {
    font-weight: 700;
    background-color: black;
    border: 1px solid yellow;
    color: #dfbf4d; }

/* CONTACTOS */
.comunica {
  padding: 4rem;
  color: yellow;
  font-size: 30px;
  text-transform: uppercase; }
  .comunica:hover {
    font-weight: 700;
    background-color: black;
    border: 1px solid #dfbf4d;
    color: #dfbf4d; }

.form {
  text-align: center;
  text-align: center;
  font-size: 1.5rem; }
  .form .form__label {
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 60%;
    margin: 0.5rem;
    padding: 1rem;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: sans-serif; }

.form__label--submit {
  background-color: #0c0c0c;
  font-size: 1rem;
  margin-top: 1.8rem;
  border-radius: 0.3rem;
  font-weight: 600;
  cursor: pointer; }
  .form__label--submit:hover {
    background-color: #00385c; }

.texto {
  height: 10rem;
  resize: none; }

.form-control:focus {
  outline: none; }
