*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 12, 12);
}
// variables
@import "./variables/colores";
@import "./variables/extend";
@import "./variables/mixin";
@import "./variables/maps";
@import "./variables/mediaquery";


// particiones
@import "./unidades/header";
@import "./secciones/index";
@import "./unidades/footer";
@import "./secciones/locales";
@import "./secciones/productos";
@import "./secciones/quienes";
@import "./secciones/contactos";

