/* CONTACTOS */

.comunica {
    @include fontStyle($color-contactos, 30px);

    &:hover {
        @include hover();
    }
}

.form {
    text-align: center;
    text-align: center;
    font-size: 1.5rem;

    .form__label {
        color: #fff;
        text-align: center;
        display: inline-block;
        width: 60%;
        margin: 0.5rem;
        padding: 1rem;
        border: none;
        border-bottom: 1px solid #fff;
        font-family: sans-serif;

    }
}

.form__label--submit {
    background-color: rgb(12, 12, 12);
    font-size: 1rem;
    margin-top: 1.8rem;
    border-radius: 0.3rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: #00385c;
    }
}


.texto {
    height: 10rem;
    resize: none;
}

.form-control:focus {
    outline: none;
}

// @media(max-width:375px) {
//     .comunica {
//         font-size: 2rem;
//     }
// }