/* footer */

footer{ a {
    padding: 0.5rem;
    text-decoration: none;
    width: 150px;
    color: #dfbf4d;
}

i {
    padding: 0.5rem;
    font-size: 2rem;
    width: 140px;
    color: #dfbf4d;
}
}