/* header */

header{
    .contactos {
    color: yellow;
}



h1 {
    padding: 2rem;
    &:hover {
    font-weight: 700;
    background-color: black;
}
    
a {
    text-decoration: none;
    color: $color-primario;
    transform: translateX(45px);
    
}

}







}